<!DOCTYPE html>

<html lang="en"> 
		
	<head>
		<!-- page information -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="shortcut icon" href="/static/dist/img/fav.png" />

		<!-- Set title -->
		{% if g.title %}
			<title> {{ g.title }} </title>
		{% else %}
			<title> Flask Base Project </title>
		{% endif %}

		<!-- includes -->
		<link rel="stylesheet" href="/static/dist/css/main.css" media="screen" />
		<script src="/static/dist/js/main.js"></script> 
	</head>

	<body>
		{% block content %}{%endblock %}
	</body>
	
</html>
